.styleMainPage{
    background: url(../../img/nightWarsaw.jpg) center center/cover no-repeat;
    min-height: 800px;
    height: 100vh;
}

h1{
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    color: #fff
}

.mainButtonWrapper{
    margin-top: 48px;
}

.button{
    width: 275px;
    height: 60px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 600;
    border-width: 0px;
    border-radius: 10px;
    background-color: #d31027;
    cursor: pointer;
    transition: 0.5s all;
    
}
.button:hover{
    background-color: rgba(168, 36, 39, 1);
}
.wrapperMainTextMainPage{
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0px;
}

@media only screen and (max-width: 1200px) {
    h1{
        font-size: 38px;
    }
    .wrapperMainTextMainPage{
        margin-top: 0px;
    }
    .styleMainPage{
        min-height: 500px;
    }
}
@media only screen and (max-width: 992px) {
    h1{
        font-size: 28px;
    }
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 24px;
    }
}

@media (max-height: 600px) {
    .wrapperMainTextMainPage{
        flex-direction: column;
        position:static; 
        margin-top: 300px;
    }
  }
  @media only screen and (max-width: 500px) {
    h1{
        font-size: 20px;
    }
    .styleMainPage{
        min-height: 250px;
    }
  }